.hazel {
    width: 300px
}

.navbar-color {
    background-color: #f8bbd0;
}

.paragraph {
    padding-top: 20px;
}

.button-style {
    background-color: #f8bbd0;
    border: #f8bbd0;
}

.button-style:hover {
    background-color: #f48fb1;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.top {
    margin-top: 50px;
}

footer {
    background-color: #f48fb1;
}

body .portfolio {
    position: relative;
}

.gallery-images {
    position: relative;
    max-width: 100%;
    float: left;
    padding-right: 40px;
    margin-bottom: 50px;
}

.overlay {
    position: absolute; 
    bottom: 0; 
    background:  rgb(248,187,208);
    color: #f1f1f1; 
    width: 88.3%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}
  
.gallery-images:hover .overlay {
    opacity: 1;
} 