.hazel {
    width: 300px
}

.navbar-color {
    background-color: #f8bbd0;
}

.paragraph {
    padding-top: 20px;
}

.button-style {
    background-color: #f8bbd0;
    border: #f8bbd0;
}

.button-style:hover {
    background-color: #f48fb1;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

footer {
    background-color: #f48fb1;
}