.hazel {
    width: 300px
}

.navbar-color {
    background-color: #f8bbd0;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

footer {
    background-color: #f48fb1;
}